
/*********GRID********/
.full-width {
  width:100%;
}
.half-width {
  width: 50%;
}
.third-width{
  width: 33%
}
.two-thirds-width{
  width: 66%;
}

/*********BASE STYLES*********/

h1 {
  color: #f7f7f7;
  font-family: 'Playfair Display', serif;
  font-size: 50pt;
  font-weight: bold;
}

h2 {
  color: #black;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
}

h3 {
  color: #f7f7f7;
  font-family: 'Playfair Display', serif;
  font-size: 40pt;
  font-weight:bold;
}

h4 {
  color: #black;
  font-family: 'Quicksand', sans-serif;
  font-size: 20pt;
  font-weight:bold;
}

p {
  color: #black;
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt;
}

a{
  text-decoration: none;
  color: white;
}

li{
  display: inline-block;
}

ul{
  list-style-type: none;
  text-align: center;
}



/*********MAIN NAVIGATION*********/
.main-nav {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.main-nav ul {
  margin: 10px;
  padding: 10px;
}

.main-nav li {
  border: solid white 4px;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
}

/********HOME******/
#home {
  background-color: #CDCDCD;
  width: auto;
  }

  #home .full-width{
  margin: 30px;
  }

.hero-image {
  background-image: url('../img/hero-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:650px;
  overflow: auto;
  width: 100%;
  }

#home h1, h4{
  text-align: center;
}

/********PORTFOLIO*********/
#portfolio{
  background-color: #DAD7CD;
  text-align: center;
}

#portfolio .full-width{
  margin: 30px;
}

#portfolio .half-width{
  float: left;
  text-align: center;
}

#portfolio h3{
  font-size: 30px;
}

/********ABOUT********/
#about{
  background-color: #A3BBAD;
  background-image: url('../img/about-pic.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

#about .full-width {
  margin: 30px;
}

#about .two-thirds-width {
  float: left;
  padding-left: 30px;
  padding-right: 50px;
  width: 60%;
}

#about h1, h3 {
  text-align:center;
}

/*********CONTACT********/
#contact{
  background-color: #D69F9E;
  text-align: center;
}

#contact .full-width{
  margin: 30px;
}

#contact .third-width{
  float: left;
}

/*********FOOTER**********/
.footer{
  clear: both;
  margin: top: 50px;
  padding-top: 80px;
  text-align: center;
}

.email{
  color: black;
}
